.bar {
  width: var(--abw);
  background: var(--bg1);
  border: var(--panel-border);
  border-radius: var(--br);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 12px 0;
}
.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.btn {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  position: relative;
  color: var(--t3);
  transition: color var(--ease), background var(--ease);
}
.btn:hover {
  color: var(--t1);
  background: var(--bg3);
}
.act {
  color: var(--ac) !important;
}
.indicator {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 18px;
  background: var(--ac);
  border-radius: 0 3px 3px 0;
  box-shadow: 0 0 10px var(--ac);
}
